In [18]:
# !pip install db-sqlite3

In [6]:
import pandas as pd
import sqlite3
from datetime import date

In [10]:
# connecting with the database 
conn = sqlite3.connect("test.db")
print("Database connnection successful")

Database connnection successful

In [11]:
conn.execute('''
DROP TABLE IF EXISTS results
            ''')

try:
    conn.execute('''
    CREATE TABLE IF NOT EXISTS results(Name text, 
                                       Date datetime, 
                                       Remarks text)
                ''')
    conn.commit()
    print("Table created successfully")
except:
    print("Already table existed")

conn.close()

Table created successfully

In [12]:
conn = sqlite3.connect("test.db")

In [13]:
Date = date.today().strftime("%d-%m-%Y")
Name = "Test1"
Remarks = "TestRemarks"

In [16]:
cmd = "INSERT INTO RESULTS(Name, Date, Remarks) values('{}','{}','{}')".format(Name, Date, Remarks)

In [17]:
conn.execute(cmd)
conn.commit()

# Query Data

In [25]:
conn = sqlite3.connect("test.db")
rs = conn.execute("SELECT * FROM results")

In [26]:
for row in rs:
    print(row)

('Test1', '16-02-2022', 'TestRemarks')

# Query data & get result into data-frame

In [27]:
conn = sqlite3.connect("test.db")

query ="""
SELECT * FROM results
"""

df = pd.read_sql_query(query, conn)
df.head()

    Name        Date      Remarks
0  Test1  16-02-2022  TestRemarks

# Write data into DB

In [28]:
def pushToDb(Name, Remarks):
    conn = sqlite3.connect("test.db")
    from datetime import date
    Date = date.today().strftime("%d-%m-%Y")
    cmd = "INSERT INTO results(Name, Date, Remarks) values('{}','{}','{}')".format(Name, Date, Remarks)
    conn.execute(cmd)
    conn.commit()

In [29]:
pushToDb("Test2","Test2Remarks")

In [30]:
conn = sqlite3.connect("test.db")

query ="""
SELECT * FROM results
"""

df = pd.read_sql_query(query, conn)
df.head()

    Name        Date       Remarks
0  Test1  16-02-2022   TestRemarks
1  Test2  16-02-2022  Test2Remarks